<!DOCTYPE html>
<html>
  <head>
    <title>Miimulus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-200 font-mono">
    <div class="sticky top-0 z-10" data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen keyup@window->navbar#closeWithKeyboard">

    <nav class="bg-slate-200 p-4 flex justify-between h-20 items-center">
      <div class="">
        <%= link_to "Miimulus", root_path %>
      </div>
      <div class="flex space-x-2 items-center">
        <div class="md:hidden" role="button" data-action="click->navbar#toggle">
          Collections
        </div>

        <div class="">
          <%= link_to "My Cart", cart_path %>
        </div>

        <%# <div class="md:hidden text-3xl" role="button" data-action="click->navbar#toggle">
          &#9776
        </div> %>
      </div>
    </nav>

    <nav class="bg-slate-400 hidden absolute w-5/6 right-2 h-80 rounded-md border border-black overflow-y-auto" data-navbar-target="content">
      <div class="space-y-6 p-4">
        <div>
          <%= link_to "Home", root_path, class: "flex px-4 py-2 rounded-md border border-black font-medium hover:border-white #{request.path == '/' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
        </div>
        <div>
          <%= link_to "Netgain +", netgain_path, class: "flex px-4 py-2 rounded-md border border-black font-medium hover:border-white #{request.path == '/netgain' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
        </div>
        <div>
          <%= link_to "Dreambreaks", dreambreaks_path, class: "flex px-4 rounded-md border border-black py-2 font-medium hover:border-white #{request.path == '/dreambreaks' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
        </div>
        <div>
          <%= link_to "LKA", lka_path, class: "flex px-4 rounded-md border border-black py-2 font-medium hover:border-white #{request.path == '/lka' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
        </div>
      </div>
    </nav>

    </div>


    <div id="below_navbar" class="bg-slate-300 flex">
      <nav class="bg-purple-400 w-1/6 hidden md:flex flex-col text-center p-4 justify-between sticky top-20 h-[calc(100vh-80px)]">
        <div class="space-y-6 overflow-hidden">
          <div>
            Collections
          </div>
          <div>
            <%= link_to "Home", root_path, class: "flex px-4 py-2 rounded-md border border-black font-medium hover:border-white #{request.path == '/' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
          </div>
          <div>
            <%= link_to "Netgain +", netgain_path, class: "flex px-4 py-2 rounded-md border border-black font-medium hover:border-white #{request.path == '/netgain' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
          </div>
          <div>
            <%= link_to "Dreambreaks", dreambreaks_path, class: "flex px-4 rounded-md border border-black py-2 font-medium hover:border-white #{request.path == '/dreambreaks' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
          </div>
          <div>
            <%= link_to "LKA", lka_path, class: "flex px-4 rounded-md border border-black py-2 font-medium hover:border-white #{request.path == '/lka' ? 'bg-slate-500 text-white' : 'bg-slate-400'}" %>
          </div>
        </div>
      </nav>


      <main id="main_space" class="bg-red-500 w-5/6 flex-grow flex-col min-h-screen overflow-y-auto relative top-0 left-0">
        <%# <canvas data-controller="threejs" id="findme" class="relative top-0 left-0 w-full h-full bg-red-100"></canvas> %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>